html, body {
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  background-color: aqua;
  font-size: 50px;
  margin-left: 2px;
}
body {
  background-color:darkgray
}

#thiscanvas {
  margin: 0;
  display: block;
}

p {
  font-family: 'Courier New', Courier, monospace;
color: rgb(157, 52, 52);
font-size: 36px;
background-color: rgb(242, 180, 242);
margin: 10px;
padding: 10px;
}